# Dev
[Bb]in/
[Oo]bj/
*.sln.docstates
*.suo
*.user*
.*/
_*/
packages/
node_modules/
vendor/
tests/
logs/

# Specific
.DS_Store
.gitnotes
[Dd]esktop.ini
[Tt]humbs.db
Archive.bat
web.config
*- [Cc]opy*
/*Test.php
*secrets.h

# Wildcards
*.7z
*.asc
*.auth*
*.bak*
*.bat*
*.cfg
*.cla*
*.conf*
*.cop*
*.cred*
*.crt
*.db
*.dev*
*.env*
*.exe
*.gpg
*.htm*
*.ilk
*.ini
*.kdb*
*.key
*.lock
*.log
*.msi
*.note
*.notes
*.obj
*.pass*
*.pdb
*.pem
*.pfx
*.rar
*.ret*
*.secret
*.sqlite*
*.sta*
*.todo
*.token
*.url
*.zip

#include
!app.config